{% block uploadify %}
{% spaceless %}
    <div class="uploadify">
        {{ block('field_widget') }}
    </div>
    <div id="{{ attr['data-preview'] }}">

    </div>
    
    <script type="text/javascript">
    $("#{{id}}").uploadify({
        {{ attr['data-uploadify'] }}
    });
    </script>
{% endspaceless %}
{% endblock %}